.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
    background-color: #bbbbbb; 
}

.btn-primary {
	background: #00ACC7;
	border-color: #00ACC7;
}

.error-code {
	padding-top: 1em;
	font-size: 20px;
}